<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--제목 태그-->
    <h1>
        Index Page
    </h1>
    <!-- 글 목록 태그 -->
    <p>
        비트코인이 5만2000달러선에서 등락을 지속하면서 시장에 다양한 의견들이 나온다.

상장지수펀드(ETF)발 매수세가 지속되고 있고 특히 비트코인 고래들의 비트코인 축적 흐름을 과거와 비교했을때 여전히 고점에 도달하지 못미치고 있다는 의견이 나온다.

한편에선 비트코인의 리테일 투자자 지표가 단기조정을 가리키고 있다면서 급상승한만큼 조정장이 가까워졌다는 분석도 제기된다.
    </p>
    <!-- 하이퍼링크 -->
    <a href="https://www.google.com">Google</a>
</body>
</html>